.hero img {
    width: 100%;
    height: auto;
    display: block;
}
.button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #d98b7b;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

.button:hover {
    opacity: 0.8;
}
h3 {
    color: rgb(117, 146, 128);
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    }

h2 {
    color: rgb(117, 146, 128);
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    }
body {
    background-color: rgb(242, 238, 232);
   } 
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
}
.steps {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 20 px;
 }

.step {
    margin-bottom: 45px;
}
.step h4{
    margin-bottom: 15px;
    font-size: 24px;
    color: #df8f7f;
    font-family: Arial, Helvetica, sans-serif;
}
.step p {
    margin: 0 auto;
    max-width: 650px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.video-section {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.video-column {
    flex: 3;
    min-width: 0;
}

.video-column video {
    width: 100%;
    max-width: 700px;
}

.text-column {
    flex: 2;
}
@media (max-width: 768px){
    .video-section{ 
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        text-align: center;
    }
}
.printables-card {
  width: 250px;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 10px;
}
.printables-card img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 8px;
    }
    .printables-card {
  font-family: Arial, sans-serif;
}

.printables-card h3 {
  text-align: center;
}

.printables-card a {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  display: block;
  text-decoration: none;
  margin-top: 10px;
  color: rgb(246, 167, 118);
}
.printables-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
footer {
  font-size: 14px;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2b6a3;
  color: #ffffff;
  padding: 10px;
}